<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- الصلاحيات الأساسية -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- استخدام الكاميرا -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarReservations"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ManageCarsActivity"
            android:exported="false" />
        <activity
            android:name=".AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".SelectLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ManageLocationsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ManageCitiesActivity"
            android:exported="false" />
        <activity
            android:name=".ClientPanelActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeePanelActivity"
            android:exported="false" /> <!-- شاشة تسجيل الدخول -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" /> <!-- شاشة تسجيل حساب جديد -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- شاشة البداية (هي نقطة الدخول الرئيسية للتطبيق) -->
        <activity
            android:name=".CarStartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- الشاشة الرئيسية (Navigation Bottom) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAt6ePywXJz0-7xhsczVQRtazOt2fxD-oU" />
    </application>

</manifest>